@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*Header */
.title {
display: inline-block;
font-family: "Roboto", sans-serif;
text-align: center;
margin-left: 20px;
font-size: 40px;
}

#logolink{
	text-decoration: none;
	color: #F17F29;
}

#logolink:hover{
	opacity: 80%;
}

.ascend {
    font-weight: 500;
}

.gym {
    font-weight: 300;
    margin-left: 0px;
}

h1:hover{
    color:#f1802975;
}

.top-bar{
    background-color: #00272B;
    height: 60px;
    border-bottom: 3px;
    border-color:#00272b4f;
}

#navigation-bar{
	max-width: 101%;
}

#nav li{
    color: #F17F29;
    margin: auto;
    margin-top: 15px;
	max-width: 20%;
}

#menuitems {
    background-color:#00272B;
}



/*body */
body {
    background-color: #E6EBE0;
	overflow-x: hidden;
}

.hero-image{
	width: 100%;
	min-width: 100%;
	margin: auto;
	background-image: url("../images/hero-image-1.jpg");
	background-size: cover;
	height: 70%;
	max-height: 70%;
}

.hero-container{
    padding-left: 45%;
    padding-right: 45%;
    padding-top: 15%;
    text-align:center;
    border: solid
}

.social-media-bar{
margin-top: 15px;
max-height: 15px;
}

.hero-container{
    text-align: center;
}

#hero-logo{
    width: 150%;
}
/*media queries */
@media only screen and (max-width: 576px){
h1 {
font-size: 1.7em;
text-align: center;
}
}